@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}   
:root{
    --total-height: 560px;
    --total-width: 310px;
    --main-color: rgb(231, 231, 231);
    --option-color: rgb(66, 66, 66);
}
.container-phone{
    height: var(--total-height); 
    width: var(--total-width);
    position: relative;
    background-color: var(--main-color);
    border-radius: 35px;
    border: 2px solid #000;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.container-phone .camera-flash,
.container-phone .wrapper,
.container .options{
    position: relative;
}

.container-phone .camera-flash{
    height: 10%;
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    z-index: 10000;
}
    .camera-flash .main-camera{
        height: 100%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .camera-flash .main-camera::after{
        content: "";
        height: 0.8rem;
        width: 0.8rem;
        border-radius: 50%;
        background: #000;
    }
    .camera-flash .sound-bar{
        height: 100%;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .camera-flash .sound-bar::after{
        content: "";
        height: 0.3rem;
        width: 100%;
        background-color: #000;
        border-radius: 20px;  
    }
    .camera-flash .flash{
        height: 100%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .camera-flash .flash::after{
        content: "";
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        background: #000;
    }

.const-img{
    height: 80%;
    width: 95%;
    z-index: 10px;
    position: absolute;
    margin-top: 3.5rem;
    overflow: hidden;
    border: 1px solid black;
}
.const-img .background-img{
    height: 100%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1615372021685-b2dc6f9c2819?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);    
    transition: all 500ms ease-in-out;
}
.container-phone .wrapper{
    height: 80%;
    width: 95%;
    background: transparent;
    color: #fff;
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    transition: all 700ms ease-in-out;
    z-index: 2;
}
.container-phone .header-wrapper{
        height: 4%;
        width: 92%;
        z-index: 9;
        position: absolute;
        z-index: 600;
        top: 3.5rem;
        font-family: 'Poppins', sans-serif;
        
    }
    .header-wrapper .main-header{
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
    }
        .main-header .network-info{
            height: 100%;
            width: 25%;
            display: flex;
        }
            .network-info .signal-strength{
                height: 100%;
                width: 30%;
                display: flex;
                align-items: baseline;
                justify-content: center;
                position: relative;
            }
                .signal-strength span{
                    width: 0.145rem;
                    background-color: #fff;
                    border-radius: 3px;
                    margin-top: 0.49rem;
                }
                .signal-strength span:not(:last-child){
                    margin-right: 0.15rem;
                }
                .signal-strength span:first-child{
                    height:15%; 
                }
                .signal-strength span:nth-child(2){
                    height:30%; 
                }
                .signal-strength span:nth-child(3){
                    height: 40%; 
                }
                .signal-strength span:last-child{
                    height:60%; 
                }
            .network-info .signal-name{
                height: 100%;
                width: 70%;
                display: flex;
                align-items: baseline;
                font-weight: bolder;
                visibility: hidden;
            }
        .main-header .header-time{
            height: 100%;
            width: 50%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;            
            visibility: hidden;
            margin-top: 0.3rem;
        }
        .main-header .battery-details{
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .battery-details .battery-percentage{
                height: 100%;
                width: 50%;
                font-weight: 800;
                display: flex;
                font-size: 0.85rem;
                justify-content: center;
                align-items: center;
                visibility: hidden;
            }
            .battery-details .battery-design{
                margin-top: 0.43rem;
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
            }
                .battery-design .outer{
                    height: 60%;
                    width: 85%;
                    padding: 1.15px;
                    border-radius: 2px;
                    border: 1px solid #fff;
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                }
                .battery-design .outer::after{
                    content: "";
                    height: 35%;
                    width: 0.08rem;
                    background-color: #fff;
                    position: absolute;
                    right: -0.15rem;
                }
                .battery-design .outer .inner{
                    height: 100%;
                    width: 100%;
                    border-radius: 1px;
                    background-color: rgb(32, 111, 185);
                }

    .wrapper .mid-wrapper{
        height: 85%;
        width: 90%;
        position: relative;
    }
        .mid-wrapper .time-date-info{
            height: 25%;
            width: 100%;
            margin-top: 3.5rem;
        }
            .time-date-info .big-time{
                height: 65%;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 3.85rem;
            }
            .time-date-info .date-day{
                height: 25%;
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 0.9rem;
            }
            .time-date-info .weather-temp{
                height: 25%;
                width: 100%;
                display: flex;
                align-items: flex-start;
                font-size: 0.9rem;
            }
        .mid-wrapper .arrow-up-unlock{
            height: 7%;
            width: 100%;
            margin-top: 13rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .arrow-up-unlock span{
                height: 1.25rem;
                width: 1.25rem;
                transition: all 500ms ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
            }
            .arrow-up-unlock span::before{
                content: "";
                --border-color: rgb(255, 255, 255);
                top: 0.3rem;
                height: 100%;
                position: absolute;
                width: 100%;
                border-top: 3px solid var(--border-color);
                border-left: 3px solid var(--border-color);
                border-right-width: 0;
                transform: rotate(45deg);
                justify-self: flex-start;
                opacity: .5;
            }
            .arrow-up-unlock span:hover{
                transform: translateY(-10px);
            }
          
    .wrapper footer{
        height: 15%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
        footer .pin-picture{
            height: 100%;
            width: 20%;
        }
        footer .access-camera{
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
        }
            .access-camera span{
                height: 1.25rem;
                width: 1.8rem;
                border-radius: 2px;
                background-color: rgb(99, 99, 99);
                opacity: .5;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
            }
            .access-camera span::before{
                content: "";
                position: absolute;
                height: 50%;
                width: 50%;
                background-color: rgb(99, 99, 99);
                top: -0.25rem;
                border-radius: 2px;
            }
            .access-camera span::after{
                content: "";
                position: absolute;
                height: 0.65rem;
                width: 0.65rem;
                border: 2px solid #fff;
                border-radius: 50%;
            }
.container-phone .wrapper-keycode-view{
    height: 80%;
    width: 95%;
    background: transparent;
    color: #fff;
    display: flex;
    top: 31rem;
    /* top: 3rem; */
    z-index: 1;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    transition: all 700ms ease-in-out;
    /* bottom: -80%; */
}
    .wrapper-keycode-view .inner-wrapper{
        height: 78.5%;
        width: 70%; 
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .inner-wrapper .passcode-display{
            height: 25%;
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
            .passcode-display .top-text{
                height: 50%;
                width: 100%;
                font-size: 0.85rem;
                vertical-align: middle;
                font-weight: bolder;
                text-align: center;
            }
            .passcode-display .lines-circles{
                height: 50%;
                width: 100%;
                display: flex;
                justify-content: center;
            }
                .lines-circles span{
                    height: 100%;
                    width: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
                .lines-circles span::after{
                    content: "";
                    height: 0.5rem;
                    width: 0.5rem;
                    background-color: #fff;
                    position: absolute;
                    border-radius: 50%;
                }
        .inner-wrapper .passcode-input{
            width: 100%;
            height: 100%;
            display: flex;
            display: relative;
        }
            .passcode-input .col-one,
            .passcode-input .col-three,
            .passcode-input .col-two{
                height: 80%;
                width: 33.33%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
            .passcode-input .col-one,
            .passcode-input .col-three{
                height: 80%;
            }
            .passcode-input .col-two{
                height: 100%;
            }
                .col-one .input-num:not(:last-child),
                .col-three .input-num:not(:last-child){
                    margin-bottom: 0.45rem;
                }
                .col-two .input-num:not(:last-child){
                    margin-bottom: 0.45rem;
                }
            .passcode-input .input-num{
                height: 3.5rem;
                width: 3.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid #fff;
                font-size: 1.75rem;
                cursor: pointer;
                transition: all 300ms ease;
            }
            .passcode-input .input-num:hover{
                background-color: rgba(119, 119, 119, 0.384);
            }
        .inner-wrapper .other-info{
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: space-between;
            position: relative;
        }
            .other-info .emergency-call,
            .other-info .back
            {
                height: 100%;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;
                color: #fff;
                cursor: pointer;
            }
    .wrapper-homepage-view{
        height: 80%;
        width: 95%;
        /* top: 3.5rem; */
        top: 34.8rem;
        /* right: -18.5rem; */
        /* right: 0.5rem; */
        position: absolute;
        color: #fff;
        display: flex;
        justify-content: center;
        transition: all 700ms ease-in-out;
        font-family: 'Poppins', sans-serif;
        z-index: 1;
    }
    .wrapper-homepage-view .const-img{
        height: 100%;
        width: 100%;
        position: absolute;
        top: -3.5rem;
        border: 1px solid black;
    }
    .wrapper-homepage-view .const-img .background-img{
        height: 100%;
        width: 100%;
        background: url("https://images.unsplash.com/photo-1517411032315-54ef2cb783bb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YXVyb3JhfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 500ms ease-in-out;
    }
    .wrapper-homepage-view .outer-grid-one{
        height: 55%;
        width: 80%;
        /* background-color: pink; */
        position: relative;
        top: 2rem;
        display: flex;
    }
        .outer-grid-one .row-one{
            width: 100%;
            height: 23%;
            display: flex;
            align-items: center;   
        }
            .row-one .col-one,
            .row-one .col-two,
            .row-one .col-three,
            .row-one .col-four{
                height: 2.5rem;
                width: 3.5rem;
                background-color: rgb(48, 76, 231);
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .row-one .col-one,
            .row-one .col-two,
            .row-one .col-three{
                margin-right: 1.25rem;

            }
                .col-one .app-icon-jokes,
                .col-two .app-icon-music,
                .col-three .app-icon-youtube,
                .col-four .app-icon-instagram{
                    font-size: 1.35rem;
                    display: flex;
                    justify-content: center;
                    position: relative;
                }
                .col-one .app-icon-jokes::after,
                .col-two .app-icon-music::after,
                .col-three .app-icon-youtube::after,
                .col-four .app-icon-instagram::after{
                    position: absolute;
                    font-size: 0.65rem;
                    bottom: -1.75rem;
                    font-weight: 600;
                }   
                .col-one .app-icon-jokes::after{
                    content: "Jokes";
                }
                .col-two .app-icon-music::after{
                    content: "Music";
                }
                .col-three .app-icon-youtube::after{
                    content: "Youtube";
                }
                .col-four .app-icon-instagram::after{
                    content: "Instagram";
                }
                .col-one .jokes-display{
                    height: 2.25rem;
                    width: 2.25rem;
                    left: 0rem;
                    top: 0rem;
                    background-color: rgb(2, 24, 83);
                    position: absolute;
                    display: none;
                    overflow: hidden;
                    flex-direction: column;                    
                    z-index: 20;
                    border: 1px solid #000;
                }
                    .jokes-display .header-text{
                        height: 12%;
                        width: 100%;
                        margin-top: 1.85rem;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .jokes-display .jokes-result{
                        height: 90%;
                        width: 100%;
                        position: relative;
                        display: grid;
                        grid-template-columns: 85%;
                        grid-template-rows: repeat(10, 93.5%);
                        grid-row-gap: 1.5rem;
                        justify-content: center;
                        align-items: center;
                        overflow: auto;
                        scrollbar-width: none;
                        scroll-snap-type: y mandatory;
                        background-color: rgb(4, 55, 88);
                    }                
                        .jokes-result .jokes-info{
                            justify-self: center;
                            align-self: center;
                            height: 75%;
                            width: 90%;
                            display: flex;
                            border: 1px solid #fff;
                            border-radius: 15px;
                            overflow: hidden;
                            flex-direction: column;
                            position: relative;
                            scroll-snap-align: center;
                            
                        }
                        .jokes-info .jokes-setup{
                            width: 100%;
                            height: 80%;
                            font-size: 1rem;
                            padding: 0.32rem 0.32rem 0 0.32rem;
                            display: flex;
                            background-color: rgb(6, 50, 143);
                            border-bottom: 1px solid #fff;
                            justify-content: center;
                            text-align: center;
                        }
                        .jokes-info .jokes-punchline{
                            width: 100%;
                            height: 85%;
                            font-size: 1.25rem;
                            text-align: center;
                            vertical-align: center;
                            padding: 0.5rem 0.5rem;
                            background-color: rgb(2, 108, 156);
                        }
                .col-two .music-display{
                    height: 27.85rem;
                    width: 18.25rem;
                    left: -6.5rem;
                    top: -3.15rem;
                    background-color: red;
                    position: absolute;
                    display: none;
                    flex-direction: column;                    
                    z-index: 20;
                    border: 1px solid #000;
                    overflow: hidden;
                }
                    .music-display .music-header{
                        height: 25%;
                        width: 100%;
                        margin-top: 1.5rem;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .music-display .music-results{
                        height: 75%;
                        width: 100%;
                        background-color: turquoise;
                    }
                        .music-header .header-text{
                            height: 30%;
                            width: 100%;
                            text-align: center;
                            vertical-align: center;
                        }
                        .music-header .search-music{
                            height: 45%;
                            width: 100%;
                        }
                            .search-music .search-bar{
                                width: 100%;
                                height: 100%;
                                display: flex;
                            }
                                .search-bar input[type="search"]{
                                    width: 80%;
                                    height: 100%;
                                    padding-left: 1.2rem;
                                    outline: none;
                                    border: none;
                                }
                                .search-bar button{
                                    width: 20%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: none;
                                    outline: none;
                                    background-color: yellowgreen;
                                    color: #fff;
                                    cursor: pointer;
                                }
                    
.container-phone .options{
    height: 10%;
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    z-index: 1;
}
    .options .background-apps,
    .options .home,
    .options .previous{
        cursor: pointer;
    }
    .options .background-apps{
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .options .background-apps::after{
        content: "";
        height: 0.75rem;
        width: 0.75rem;
        border: 1px solid var(--option-color);
        border-radius: 3px;
    }
    .options .home{
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .options .home::after{
        content: "";
        height: 0.75rem;
        width: 0.95rem;
        border: 1.5px solid var(--option-color);
        border-radius: 5px;
    }
    .options .previous{
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .options .previous::after{
        content: "";
        height: 0.8rem;
        width: 0.8rem;
        transform: rotate(180deg);
        border-top: 0.45rem solid transparent;
        border-bottom: 0.45rem solid transparent;
        border-left: 0.75rem solid var(--option-color); 
    }